<div class="container">
  <form (ngSubmit)="register()" #registerForm="ngForm" class="mt-5">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="formData.name">
    </div>
    <div class="form-group">
      <label for="email">Correo electrónico:</label>
      <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="formData.email">
    </div>
    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="formData.password">
    </div>
    <button type="submit" class="btn btn-primary">Registrarse</button>
  </form>
</div>
