/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background: url(https://sweatco.in/static/media/home_bg.913a02e7.jpg) center;
}
